*.exe
*.zip
*.class
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
nodejs/mobile/.DS_Store
python/.DS_Store
.DS_Store
nodejs/mobile/.DS_Store
python/.DS_Store
python/학교/.DS_Store
python/학교/3-1 기계학습/.DS_Store
python/학교/3-1 기계학습/week3/.DS_Store
config.json